{% include 'header.j2' %}
{% include 'infos.j2' %}
{% include 'sessions_tapes.j2' %}
{% include 'sessions_in_progress.j2' %}
{% include 'sessions_failed.j2' %}
{% include 'repositories.j2' %}
{% include 'footer.j2' %}
